.container {
  display: flex;
  position: absolute;
  justify-content: center;
  height: 80px;
  width: 100%;
}

.navbar {
  display: flex;

  padding: 20px;
}

.item {
  margin: 10px;
  padding-right: 25px;
  text-decoration: none;
  color: aliceblue;
  font-size: 27px;
  font-weight: 18px;
}
.item:hover {
    margin: 10px;
    padding-right: 25px;
    text-decoration: none;
    color: rgb(247, 247, 33);
    font-size: 27px;
    font-weight: 18px;
  }
